<div class="contact-section">
    <div class="contact-headings">
        <h2>Keep in touch</h2>
        <div class="divider"></div>
    </div>
 <div class="container-contact">
    <img class="contact-section__img" src="../../imagenes/contact-us-iphone.jpg" alt="contact Frailin Pernalete img">  
        <div class="contact-form">
            <h4>Send me a message...</h4>
                <form class="form"> 
                <input type="text" placeholder="Name">
                <input type="email" placeholder="E-mail">
                <textarea type="text" placeholder="Writte your message here..."></textarea>
                <button type="submit" class="btn-submit">Send message</button>    
                </form>
        </div>
    </div>
</div>
