<div class="about">
    <video controls autoplay>
        <source src="./imagenes/Post para Instagram Nuevo Producto Minimalista Negro.mp4" type="video/mp4">
    </video> 
    <div class="about-info">
        <h2>About me</h2>
        <div class="divider"></div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse ratione facere totam, placeat, voluptates explicabo impedit fuga at quis temporibus quae obcaecati ipsa dignissimos alias quibusdam sint ut doloremque. Ab!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At nemo nobis dicta sunt eos, doloremque nostrum nulla, sapiente quis velit vero rem, voluptates laboriosam! Enim laborum architecto aspernatur recusandae nam.</p>
        <button class="download-my-cv"> Read more</button>
    </div>
</div>
