<div class="wrapper">
    <header>
        <nav class="navbar">
            <div class="brand"> 
            <h2>FRAILIN <span>PERNALETE</span></h2>
            </div>
            <ul class="menu" id="menu">
                <li><a class="active" href="#">Home</a></li>
                <li><a href="#">About me</a></li>
                <li><a href="#">Portafolio</a></li>
                <li><a href="#">Contact me</a></li>
            </ul>
            <div class="toggle-menu">
                <i class="fas fa-bars" id="toggle_open"></i>
                <i class="fas fa-close" id="toggle_close"></i>
            </div>
        </nav>
    </header>
    <main class="main">
        <div class="info-content">
            <span class="info-content_subtitle">Full-Stack Developer</span>
            <h1>WELCOME!</h1>
            <h1>I am <span>Frailin</span> Pernalete</h1>
            <div class="sotial-network info-content__sotial-network">
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-linkedin"></i>
                <i class="fa-brands fa-github"></i>
            </div>
            <p class="info-content__p">Welcome to my personal web page, i am going to give you a little tour about my personal and professional life, are you ready? .</p>
            <a download href="#">
                <button class="download-my-cv"> Download my CV</button>
            </a>   
        </div>
        <img {src}="../../imagenes/Gris y Negro Foto Polaroid de Helado Tu Historia.png" alt="Frailin Pernalete imagen">
    </main>  
</div>
